.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  :global(.title) {
    color: #FFF;
  }
  :global(.subtitle) {
    color: #ddd;
  }
}
.slides {
  width: 960px;
  height: 700px;
  position: relative;
  overflow: hidden;
}